torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
transformers==4.57.0
vllm==0.11.0
ray==2.49.2
deepspeed==0.16.0
accelerate==1.6.0
xformers==0.0.32.post1
flashinfer-python==0.3.1
cupy-cuda12x==13.6.0
datasets==3.5.1
peft==0.15.2


alfworld
ai2thor
textworld
jericho
fast-downward-textworld
gymnasium
pydrive
requests_toolbelt
rapidfuzz
formulas
lxml


cssselect
xmltodict
openpyxl
python-docx
python-pptx
PyGetWindow
pyacoustid
pygame
ImageHash
scikit-image
librosa
chardet
backoff
formulas
fastdtw
odfpy
func-timeout
beautifulsoup4
PyYaml
mutagen
borb
pypdf2
wandb
wrapt_timeout_decorator
tiktoken
loguru
dotenv
alibabacloud_ecs20140526
alibabacloud_tea_openapi
alibabacloud_tea_util
json_minify
json_repair



playwright
pyautogui
pynput
python-xlib
evdev


opencv-python-headless
easyocr
pymupdf
pdfplumber
pypdf
pypdfium2
imagehash


omegaconf
hydra-core
termcolor
loguru
rich
tldextract
gdown


openai
anthropic
google-generativeai
groq
dashscope
mistral-common


outlines
lm-format-enforcer
llguidance
compressed-tensors
gguf


fastapi
uvicorn
uvloop
prometheus-client
prometheus-fastapi-instrumentator


docker
fabric
paramiko
redis
rpyc
apscheduler


boto3
awscli
azure-identity
azure-mgmt-compute
azure-mgmt-network
alibabacloud-ecs20140526
alibabacloud-credentials
alibabacloud-tea-openapi
volcengine-python-sdk
nest_asyncio
qwen-vl-utils

